<div qv-extension style="height: 100%; position: relative; overflow: auto;" >
	<p>TTL Branded Table with Angular</p>
	<div style="height: 100%; position: relative;" class="table-style-3">
        <table>
            <thead>
                <tr>
                    <th colspan="2" class="group">Grouping</th>
                </tr>
                <tr>
                    <th ng-repeat="row in table.headers" class="item">
                        {{row.qFallbackTitle}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in  table.rows">
                    <td ng-repeat="item in row.cells">
                        {{item.qText}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
